footer {
    background-color: #00ff00;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#footer_txt {
    display: block;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}
