body {
    /* Layout styling */
    margin: 0px;
    padding: 0px;

    /* Text styling */
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
