footer {
    /* Overall styling */
    background-color: white;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0px;

    /* Border styling */
    border-style: solid none none none;
    border-width: 1px;
    border-color: #CCCCCC;
}

#footer_txt {
    text-align: center;
    padding-top: 10px;
}
