header {
    /* Overall styling */
    background-color: white;
    height: 70px;
    width: 100%;

    /* Added for the container */
    margin-bottom: 30px;

    /* Border styling */
    border-style: none none solid none;
    border-width: 1px;
    border-color: #CCCCCC;

    /* Background image */
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}
