body {
    /* Layout styling */
    margin: 0px;
    padding: 0px;

    /* Text styling */
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Container for the search bar */
.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
