.filters {
    /* Overall styling */
    background-color: white;
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    /* Border styling */
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
}

button {
    /* Text styling */
    font-size: 18px;
    color: #FFFFFF;

    /* Overall styling */
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;

    /* Border styling */
    border-style: none;
    border-radius: 4px;

    /* Positioning */
    margin-top: 10px;
    margin-right: 30px;
}

/* Changing opacity when hovering over it */
button:hover {
    opacity: 90%;
}
