.filters {
    /* Overall styling */
    background-color: white;
    height: 70px;
    width: 100%;

    /* Layout fitting */
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    /* Border styling */
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    border-radius: 4px;
}

button {
    /* Text styling */
    font-size: 18px;
    color: #FFFFFF;

    /* Overall styling */
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;

    /* For fun :D */
    cursor: pointer;

    /* Border styling */
    border-style: none;
    border-radius: 4px;

    /* Positioning */
    position: relative;
    top: 10px;
    left: 270px;
}

/* Changing opacity when hovering over it */
button:hover {
    opacity: 90%;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.locations {
    border-style: none solid none none;
    border-width: 1px;
    border-color: #DDDDDD;
}

h3 {
    font-weight: 600;
    margin: 15px 5px 0px 50px;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    display: inline;
    margin: 2px 5px 5px 50px;
}
