article {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

h1 {
    font-size: 30px;
}

.sub_places {
    font-size: 30px;
    text-align: center;

    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
}
